/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
body {
   color: #4e4e4e;
   font-size: 15px;
   line-height: 24px;
}
a:hover { text-decoration: none }
.section-padding {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 50px;
}
.owl-carousel .owl-item .single-stuff-item img {
   
    max-width: 325px;
    width: 180px;
    border-radius: 50%;
}
.staff-meta {
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 26px;
}
.staff-meta h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.staff-list .owl-nav div {
    display: inline-block !important;
    width: 40px;
    height: 30px;
    background-color: #ddd;
    text-align: center;
    line-height: 32px !important;
    font-size: 26px !important;
    margin-left: 10px;
    transition: .3s
    }
    .staff-list .owl-nav div:hover{
        background-color: #14acf5;
        color: #fff;
    }
    .staff-list .owl-nav{
        position: absolute;
        right: 0;
        top: -66px;
    }
    .section-title h2 {
    position: relative;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.section-title h2::before {
    position: absolute;
    content: "";
    width: 97px;
    height: 5px;
    bottom: 0;
    left: 12%;
    margin-left: -25px;
    background: #ff8f17;
}
.section-title h2::after {
    position: absolute;
    top: 48px;
    bottom: 0;
    content: "";
    background: #ddd;
    width: 24px;
    height: 5px;
    left: 34%;
    margin-left: -10px;
}